body {
  background: #f8e8a6;
}

h1,
p {
  text-align: center;
}

.croissant-photo {
  max-width: 30%;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: green;
}
